body {
    font-family: 'Arial', sans-serif;
    background-color: #464444;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.return-home {
    color: rgb(0, 0, 255);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

.loadingText {
    font-size: 25px;
}

.container {
    width: 50%;
    height: 25vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #464444; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

#heatmapView {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464444;
}

#controls {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    background-color: #464444;
}

#controls label, #controls span {
    margin-right: 10px;
    font-size: 1.5em;  
}

input[type=range] {
    width: 50%; 
}

.channel-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}

.x-axis text, .y-axis text {
    font-size: 16px;
}

.axis-label {
    font-size: 16px;  
}

