body {
    font-family: 'Arial', sans-serif;
    background-color: #464444;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.ydx-button {
    padding: 15px 30px;   
    font-size: 1.5em;     
    border-radius: 6px;  
}

.return-home {
    color: rgb(20, 20, 111);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

#heatmapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464444;
    height: 100%; 
}

#controls {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    background-color: #464444;
}

#controls label, #controls span {
    margin-right: 10px;
}

input[type=range] {
    width: 80%; 
}
